.card {
  cursor: pointer;
  background: #CCC5B3;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  border: solid 1px #696969;
  border-radius: 6px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Josefin-Sans';
  line-height: 1;
  word-wrap: normal;
}

.card__mark {
  position: absolute;
  font-size: 0.25em;
  color: #ffffff;
  top: 5px;
  left: 5px;
}

.card__mark-upside-down {
  position: absolute;
  font-size: 0.25em;
  color: #E1623F;
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

.card__points {
  position: absolute;
  font-size: 1em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
