.cards,
.cards-revelead {
  list-style: none;
  width: 100%;
}

.cards-revelead {
  position: absolute;
  bottom: -60px;
  max-height: 500px;
}

.card {
  margin: 5px 3% 5px 3%;
  display: inline-block;
  cursor: pointer;
  background: #CCC5B3;
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  top: 0px;
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  border: solid 1px #696969;
  height: 90px;
  width: 19%;
  font-size: 18pt;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

  .card .content {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

    .card .content h1,
    .card .content h2,
    .card .content span {
      font-family: 'Josefin-Sans';
      margin: 0;
    }

      .card .content span,
      .card .content h1,
      .card .content h2 > sup {
        font-size: 28pt;
        color: #0C0B13;
      }

    .card .mark,
    .card .content .h2 {
      font-size: 20px;
      top: 2px;
      left: 5px;
      color: #ffffff;
    }

  .card .mark {
    font-family: 'Josefin-Sans';
    position: absolute;
    font-weight: bold;
  }

    .card .mark.upside-down {
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      top: auto;
      left: auto;
      color: #E1623F;
      bottom: 2px;
      right: 5px;
    }

      .card .mark.upside-down:after {
        color: #CCC5B3;
      }

.card-back,
.card-front {
  vertical-align: middle;
  display: table;
  margin: 0 auto;
  margin-top: 100px;
  height: 330px;
  width: 230px;
  font-size: 72pt;
}

  .card-back .content h1,
  .card-back .content h2 {
    font-size: 21px;
    line-height: 25px;
  }

    .card-back .content h2 > sup {
      font-size: 14px;
    }

  .card-front .mark {
    font-size: 40pt;
    top: 20px;
    left: 10px;
  }

    .card-front .mark.upside-down {
      bottom: 15px;
      right: 10px;
    }

  .card-front .content span {
    font-size: 170px;
  }

  .card-back:before {
    content: "";
    position: absolute;
    background: #0C0B13;
    opacity: 1;
    -moz-transform: rotate(72deg) translate(75px, 20px);
    -ms-transform: rotate(72deg) translate(75px, 20px);
    -webkit-transform: rotate(72deg) translate(75px, 20px);
    transform: rotate(72deg) translate(75px, 20px);
    top: 10px;
    bottom: 0px;
    left: 0px;
    right: -30px;
    border-left: solid 90px #664C4F;
  }


  .card-back:after {
    content: "";
    position: absolute;
    background: rgba(225, 98, 63, 0.7);
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    -moz-transform: rotate(58deg) translate(0px, 0px);
    -ms-transform: rotate(58deg) translate(0px, 0px);
    -webkit-transform: rotate(58deg) translate(0px, 0px);
    transform: rotate(58deg) translate(0px, 0px);
    top: -50px;
    bottom: -50px;
    left: 62px;
    right: 60px;
  }


.card-revealed {
  float: right;
  clear: both;
  z-index: 1;
  height: 60px !important;
}

  .card-revealed .content {
    top: 60%;
  }

  .card-revealed.border-red {
    border-color: #ef473a !important;
  }

  .card-revealed.border-green {
    border-color: #33cd5f !important;
  }
