@font-face {
  font-family: 'Josefin-Sans';
  src: url('../fonts/Josefin-Sans.ttf.woff') format('woff'), 
       url('../fonts/Josefin-Sans.ttf.svg#Josefin-Sans') format('svg'), 
       url('../fonts/Josefin-Sans.ttf.eot'), 
       url('../fonts/Josefin-Sans.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.poker {
  font-weight: 100;
  letter-spacing: -1px;
}

.bar {
  z-index: 9;
}

.has-header {
  top: 50px;
}

.menu-open .bar.bar-header.expanded {
  background-color: #222;
  background-size: 0px;
}

.menu-open .ion-navicon:before {
  content: "\f108";
}

.title-left,
.title-right,
.title.title-left,
.title.title-right {
  left: 45px !important;
}

a.item {
  color: #444;
}
