.poker .users {
  list-style: none;
  position: absolute;
  bottom: -160px;
  max-height: 40px;
  width: 100%;
}

.poker .user {
  overflow: hidden;
  float: right;
  display: inline-block;
  z-index: 1;
  
  position: relative;
  top: 0px;
  
  height: 40px;
  width: 19%;
  
  margin: 5px 3% 5px 3%;
  
  cursor: pointer;
  
  background: #CCC5B3;
  border: solid 1px #696969;
  
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

  .poker .user .mark {
    font-family: 'Josefin-Sans';
    position: absolute;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    top: 2px;
    left: 5px;
  }

  .poker .user .content {
    top: 60%;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }

    .poker .user .content span {
      color: #0C0B13;
      font-family: 'Josefin-Sans';
      margin: 0;
      font-size: 28pt;
    }
