<ul class="card-revelead-list">
  <li
    class="card-revealed-list__item"
    ng-class="player.card.points == $ctrl.myCard
      ? 'card-revealed-list__item--points-equal'
      : 'card-revealed-list__item--points-different'"
    ng-if="$ctrl.myCard && player.name"
    ng-repeat="player in $ctrl.players">

    <div
      class="card-revealed-list__item-mark"
      ng-bind-html="player.card.points"></div>

    <div class="card-revealed-list__item-content">
      <span ng-bind-html="player.name | limitTo:2"></span>
    </div>

  </li>
</ul>
