<ion-view view-title="Login">
    <ion-header-bar align-title="center" class="bar-dark">
        <div class="buttons buttons-left header-item">
            <span class="left-buttons">
                <button class="button button-icon button-clear ion-arrow-left-c" ng-click="vm.cancel()"></button>
            </span>
        </div>
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list im-wrapper">
            <label class="item item-input item-floating-label">
                <span class="input-label">Channel</span>
                <input ng-model="vm.user.room" type="text" placeholder="Room">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">User</span>
                <input ng-model="vm.user.name" type="text" placeholder="User">
            </label>
            
            <button class="button button-block button-positive" ng-click="vm.send(vm.user)">
                Send
            </button>
        </div>
    </ion-content>
</ion-view>
