.menu__header {
  background-color: #6694a3;
  min-height: 150px;
  color: #fff;
}

.menu__logo-image {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1px;
  border-radius: 50%;
  box-sizing: content-box;
  top: 16px;
  left: 16px;
  height: 65px;
  width: 65px;
  position: absolute;
  background-color: #fff;
}

.menu__title {
  bottom: 16px;
  left: 16px;
  position: absolute;
  font-size: 1.3em
}

.menu__content {
  top: 150px;
  background-color: #E0E0E0;
}

.menu__list-item {
  border: none;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}
