.stories-form > div {
  width: 100%;
}

.stories-list {
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  margin-top: 56px;
  text-align: center;
  border: none;
  font-size: 14px;
  min-height: 48px;
  max-width: 360px;
  text-align: left;
}
