.about .item {
  text-align: center;
}

.about .picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 96px;
  height: 96px;
  overflow: hidden;
}

.about .name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
}

.about .icon {
  font-size: 22pt;
  margin: 10px;
}

.about a,
.about a:hover,
.about a:focus {
  text-decoration: none;
  color: #444;
}
