<ion-view>
  <ion-content class="has-header" scroll="false">
    <message></message>

    <players-logged-in
      ng-if="$ctrl.logged"
      players="$ctrl.players"></players-logged-in>

    <ul class="cards-list">
      <li class="cards-list__item" ng-repeat="card in $ctrl.cards">
        <card points="card" ui-sref="card({ card: card })"></card>
      </li>
    </ul>

    <button
      class="login-button button"
      ng-class="$ctrl.logged ? 'login-button--logged-in' : 'login-button--logged-out'"
      ng-disabled="!$ctrl.connected"
      ui-sref="login">
      <i class="icon ion-cloud light"></i>
    </button>
  </ion-content>
</ion-view>
