<ion-view view-title="Scrum Poker">
  <ion-header-bar class="bar-dark">
  </ion-header-bar>
  <ion-content>
    <ul class="users">
      <li class="user" ng-repeat="user in vm.users.get()">
        <div class="content">
          <span ng-bind-html="user.name | limitTo:2"></span>
        </div>
      </li>
    </ul>

    <ul class="cards">
      <li ng-show="!vm.selected" class="card" ui-sref="card({ card: card })" ng-repeat="card in vm.cards">
        <div ng-bind-html="card" class="mark"></div>

        <div class="content">
          <span ng-bind-html="card"></span>
        </div>

        <div ng-bind-html="card" class="mark upside-down"></div>
      </li>
    </ul>
  </ion-content>
  <button ng-show="vm.connected" ng-class="vm.joined ? 'button-balanced' : 'button-energized-900'" class="button button-fab button-fab-bottom-right" ui-sref="login">
    <i class="icon ion-cloud light"></i>
  </button>
</ion-view>