<ion-view view-title="Card">
  <ion-content class="poker" scroll="false">
    <div class="alert text-center" ng-class="vm.session.getMessage().type">{{ vm.session.getMessage().value }}</div>
    <ul class="cards-revelead">
      <li ng-class="user.card.points == vm.card ? 'border-green' : 'border-red'" ng-show="vm.card && user.name" class="card card-revealed" ng-repeat="user in vm.session.getUsers()">
        <div ng-bind-html="user.card.points" class="mark"></div>

        <div class="content">
          <span ng-bind-html="user.name | limitTo:2"></span>
        </div>
      </li>
    </ul>

    <ul class="cards">
      <li ng-show="vm.card && !vm.revealed" class="card card-back" ng-click="vm.reveal()">
        <div class="content">
          <h1>PLANNING</h1>
          <h2><sup>SCRUM</sup>POKER</h2>
        </div>
      </li>

      <li ng-show="vm.revealed" class="card card-front" ng-click="vm.clearCard()">
        <div ng-bind-html="vm.card" class="mark"></div>

        <div class="content">
          <span ng-bind-html="vm.card"></span>
        </div>

        <div ng-bind-html="vm.card" class="mark upside-down"></div>
      </li>
    </ul>
  </ion-content>
</ion-view>
