.poker .card-revealed {
  float: right;
  clear: both;
  z-index: 1;
  height: 60px !important;
}

  .poker .card-revealed .content {
    top: 60%;
  }

  .poker .card-revealed.border-red {
    border-color: #ef473a !important;
  }

  .poker .card-revealed.border-green {
    border-color: #33cd5f !important;
  }

  .poker .card-revealed .mark {
    font-size: 17pt;
    top: 0px;
  }
