<ion-view view-title="Settings">
  <ion-header-bar class="bar-dark">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-arrow-left-c" ui-sref="game.poker"></button>
      </span>
    </div>
    <h1 class="title">Settings</h1>
  </ion-header-bar>
  <ion-content class="settings" scroll="true">
    <div class="list">
      <ion-toggle class="item-icon-left" toggle-class="toggle-dark" ng-model="vm.keepScreen.activated" ng-change="vm.keepScreen.activate()" ng-show="vm.plugin.keepAwake">
        <i class="icon ion-ios-gear"></i> Keep screen on
        <p>Keeps the screen on as long as cards are on display.</p>
      </ion-toggle>
      <div class="item item-icon-left" ng-show="!vm.plugin.keepAwake">
        <i class="icon ion-ios-gear"></i> Keep screen on
        <p>Can not load plugin keep screen on.</p>
      </div>

      <ion-toggle class="item-icon-left" toggle-class="toggle-dark" ng-model="vm.tap.activated" ng-change="vm.tap.activate()">
        <i class="icon ion-ios-gear"></i> Tap to reveal
        <p>After choosing a card, tap the screen to reveal it.</p>
      </ion-toggle>

      <div class="item item-divider">
        Shake
      </div>
      <div ng-show="vm.plugin.agitate">
        <ion-toggle class="item-icon-left" toggle-class="toggle-dark" ng-model="vm.shake.activated" ng-change="vm.shake.activate()">
          <i class="icon ion-ios-gear"></i> Shake to reveal
          <p>After choosing a card, shake the phone to reveal it.</p>
        </ion-toggle>
        <div class="item item-icon-left item-icon-right no-border">
          <i class="icon ion-ios-gear"></i> Sensitivity
          <p>Choose shake sensitivity.</p>
          <a class="icon ion-ios-eye-outline" ui-sref="card({ card: '8' })"></a>
        </div>
        <div class="item range no-border" style="top: -15px; padding: 0px 20px 0px 20px;">
          <i class="icon ion-minus-round"></i>
          <input type="range" name="volume" min="{{ vm.shake.sensitivity.min }}" max="{{ vm.shake.sensitivity.max }}" ng-model="vm.shake.sensitivity.defaults">
          <i class="icon ion-plus-round"></i>
        </div>
      </div>
      <div class="item item-icon-left" ng-show="!vm.plugin.agitate">
        <i class="icon ion-ios-gear"></i> Shake to reveal
        <p>Can not load plugin shake.</p>
      </div>

      <div class="item item-divider">
        Vibrate
      </div>
      <div ng-show="vm.plugin.vibrate && vm.plugin.agitate">
        <ion-toggle class="item-icon-left" toggle-class="toggle-dark" ng-model="vm.vibrate.activated" ng-change="vm.vibrate.activate()">
          <i class="icon ion-ios-gear"></i> Vibrate when shake
          <p>Vibrate the phone, when shake to reveal card.</p>
        </ion-toggle>
        <label class="item item-input item-select">
          <div class="input-label">
            Choose vibration time.
          </div>
          <select ng-model="vm.vibrate.duration.defaults" ng-options="option.name for option in vm.vibrate.duration.options track by option.id"></select>
        </label>
      </div>
      <div class="item item-icon-left" ng-show="!vm.plugin.vibrate || !vm.plugin.agitate">
        <i class="icon ion-ios-gear"></i> Vibrate when shake
        <p>Can not load vibrate shake.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
