@media screen and (max-width: 700px) {
    .card {
        height: 90px;
        width: 19%;
        font-size: 18pt;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

        .card .content span {
            font-size: 28pt;
        }

        .card .mark {
            font-size: 20px;
            top: 2px;
            left: 5px;
        }

            .card .mark.upside-down {
                bottom: 2px;
                right: 5px;
            }

    .card-back,
    .card-front {
        height: 330px;
        width: 230px;
        font-size: 72pt;
        margin-top: 100px;
    }

        .card-back:before {
            top: 10px;
            bottom: 0px;
            left: 0px;
            right: -30px;
            border-left: solid 90px #664C4F;
        }

        .card-back:after {
            top: -50px;
            bottom: -50px;
            left: 62px;
            right: 60px;
        }

        .card-back .content h1,
        .card-back .content h2 {
            font-size: 21px;
            line-height: 25px;
        }

            .card-back .content h2 > sup {
                font-size: 14px;
            }

        .card-front .content span {
            font-size: 122px;
        }

        .card-front .mark {
            font-size: 40pt;
            top: 20px;
            left: 10px;
        }

            .card-front .mark.upside-down {
                bottom: 15px;
                right: 10px;
            }
}
