@font-face {
    font-family: 'Josefin-Sans';
    src: url('../font/Josefin-Sans.ttf.woff') format('woff'), url('../font/Josefin-Sans.ttf.svg#Josefin-Sans') format('svg'), url('../font/Josefin-Sans.ttf.eot'), url('../font/Josefin-Sans.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-weight: 100;
    letter-spacing: -1px;
}

.cards,
.cards-revelead {
    list-style: none;
    width: 100%;
}

.cards-revelead {
    position: absolute;
    bottom: -60px;
    max-height: 500px;
}

.bar {
    z-index: 9;
}

.has-header {
    top: 50px;
}

.border-red {
    border-color: #ef473a !important;
}

.border-green {
    border-color: #33cd5f !important; 
}
