<ion-view>
  <ion-header-bar class="game__header" align-title="center">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-android-arrow-back" ui-sref="home"></button>
      </span>
    </div>

    <h1 class="title">Settings</h1>
  </ion-header-bar>

  <ion-content scroll="true">
    <div class="list">
      <ion-toggle
        toggle-class="toggle-dark"
        ng-model="$ctrl.keepScreen.activated"
        ng-change="$ctrl.keepScreen.activate()"
        ng-if="$ctrl.plugin.keepAwake">
        Keep screen on
        <p>
          Keeps the screen on as long as cards are on display.
        </p>
      </ion-toggle>

      <div class="item" ng-if="!$ctrl.plugin.keepAwake">
        Keep screen on
        <p>
          Can not load plugin keep screen on.
        </p>
      </div>

      <ion-toggle
        toggle-class="toggle-dark"
        ng-model="$ctrl.tap.activated"
        ng-change="$ctrl.tap.activate()">
        Tap to reveal
        <p>
          After choosing a card, tap the screen to reveal it.
        </p>
      </ion-toggle>

      <div class="item item-divider">
        Shake
      </div>

      <ion-toggle
        toggle-class="toggle-dark"
        ng-model="$ctrl.shake.activated"
        ng-change="$ctrl.shake.activate()"
        ng-if="$ctrl.plugin.agitate">
        Shake to reveal
        <p>
          After choosing a card, shake the phone to reveal it.
        </p>
      </ion-toggle>

      <div class="item" ng-if="$ctrl.plugin.agitate && $ctrl.shake.activated">
        Sensitivity
        <p>
          Choose shake sensitivity.
        </p>
        <a class="icon ion-checkmark-circled" ng-click="$ctrl.shake.sensitivity.change()"></a>
      </div>

      <div class="item" ng-if="$ctrl.plugin.agitate && $ctrl.shake.activated">
        <i class="icon ion-minus-round"></i>

        <input
          type="range"
          name="volume"
          min="{{ $ctrl.shake.sensitivity.values.min }}"
          max="{{ $ctrl.shake.sensitivity.values.max }}"
          ng-model="$ctrl.shake.sensitivity.values.defaults">

        <i class="icon ion-plus-round"></i>
      </div>

      <div class="item" ng-if="$ctrl.plugin.agitate && !$ctrl.shake.activated">
        Sensitivity
        <p>Shake is not activated.</p>
      </div>

      <div class="item" ng-show="!$ctrl.plugin.agitate">
        Shake to reveal
        <p>
          Can not load plugin shake.
        </p>
      </div>

      <div class="item item-divider">
        Vibrate
      </div>

      <ion-toggle
        toggle-class="toggle-dark"
        ng-model="$ctrl.vibrate.activated"
        ng-change="$ctrl.vibrate.activate()"
        ng-if="$ctrl.plugin.vibrate && $ctrl.plugin.agitate">
        Vibrate when shake
        <p>
          Vibrate the phone, when shake to reveal card.
        </p>
      </ion-toggle>

      <label class="item-input item-select" ng-if="$ctrl.plugin.vibrate && $ctrl.plugin.agitate && $ctrl.vibrate.activated">
        <div class="input-label">
          Choose vibration time.
        </div>

        <select
          ng-model="$ctrl.vibrate.duration.values.defaults"
          ng-options="option.name for option in $ctrl.vibrate.duration.values.options track by option.id"
          ng-change="$ctrl.vibrate.duration.change()"></select>
      </label>

      <div class="item" ng-if="$ctrl.plugin.vibrate && $ctrl.plugin.agitate && !$ctrl.vibrate.activated">
        Vibration time
        <p>
          Vibrate when shake is not activated.
        </p>
      </div>

      <div class="item" ng-if="!$ctrl.plugin.vibrate || !$ctrl.plugin.agitate">
        Vibrate when shake
        <p>
          Can not load plugin vibrate.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
